*{
    box-sizing: border-box;
}

body {
    background-color:#88D8ED;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
    height: 100vh;
}

header {
    background-color:#000033;
    
    background-position: right;
    background-repeat: no-repeat;
    height: 120px;
    text-align: center;
    padding-top: 15px;
    padding-left: 3em;
    color:#FFFFFF;

}

main{
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
    width:70%;
    background-color: #FFFFFF;
}

main ul{

    list-style-image: url(images/marker.gif);
}

h1{
    margin-bottom:0px;
    margin-top: 0px;
    font-size: 3em;
    letter-spacing: 0.25em;
}

h2{
    text-shadow: #cccccc 3px 0px 0px;
}

nav {
    
    font-weight: bold;
    padding: 1.5em;
    font-size: 120%;
    width:30%;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
nav a{
    transition-duration: 3s;
    transition-property: color;
    transition-timing-function: ease-out;
}
nav a :link{
    color:#5C7FA3;
}
nav a :visited{
    color:#344873;
}
nav a :hover{
    color: #a52a2a;
}
nav,main{

    display: inline-block;
    vertical-align: top;
}
h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, Serif;
}

h2,h3{
    color:#000033;
}

footer{
    font-size: 75%;
    padding: 20px;
    background-color: #FFFFFF;
}

table,td,th{
    border:2px solid #3399CC;
    border-collapse: collapse;
}

tbody>tr:nth-of-type(odd){
    background-color: #8CDEFF;    
}

td,th{
    padding:0.5em;
}

td{
    text-align: center
}

label, textarea{
    display:block;
}

input, textarea{
    margin-bottom: bottom 1.5em;
}
Video{ 
    float: right; padding-left: 20px; 
}

.left{
    text-align: left;
}

.resort {
    color:#5C7FA3;
    font-weight: bold;
}


#contact {
    font-size: 90%;
}

#wrapper {
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 1240px;
    box-shadow:3px 3px #000033;
    background-color:#90C7E3;
    background-image: linear-gradient(#90C7E3, #ffffff);
}

#homehero {
    height: 300px;
    background-image: url(images/coast.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurt.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

#trailhero {
    height: 300px;
    background-image: url(images/trail.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

#desktop{

}

#mobile{
 display:none;
}
#thumbnails{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
#bigImage{
    display:block;
    margin: auto;
    margin-top: 20px;
}

@media only screen and (max-width: 1024px){
    body{
        margin: 0px;
        background-color: #FFFFFF;
    }

    header{
        padding:0.5em, 0em, 0.5em;
        
    }
    h1{
        letter-spacing: 0.1em;
    }
    main{
        margin-left: 0px;
    }
    nav, main{
        display: block;
        width:auto;
    }
    nav{
        text-align: center;
        padding:0.5em;
    }
    nav li{
        display: inline;
        padding:0.25em, 0.75em;
    }

    #homehero, #yurthero, #trailhero{
        display: none;

    }

    #wrapper{
        min-width: 0px;
        width: autho; 
        box-shadow: none;
        border: none;
    }
    
}

@media only screen and (max-width: 600px){
    body{
        margin: 0px;
        background-color: #FFFFFF;
    }

    header{
        padding:0.5em, 0em, 0.5em;
        
    }
    h1{
        font-size: 2em;
    }
    main{
        padding: 0.1em 1em;
        font-size: 90%;
    }
    nav, main{
        display: block;
        width:auto;
    }
    nav{
        text-align: center;
        padding:0px;
    }
    nav li{
        display: block;
        margin:0px;
       border-bottom: 2px solid #330000;
    }
    nav a{
        display:block;
    }

    Video{ 
        float: none; padding-left: 0px; 
    }

    #homehero, #yurthero, #trailhero{
        display:none;
    }

    #wrapper{
        min-width: 0px;
        width: autho; 
        box-shadow: none;
        border: none;
    }
    #desktop{
        display:none;
    }
    #mobile{
        display:inline;
    }
    #thumbnails{
        display:none;
    
    }
    #bigImage{
        display:none;
    }
    
}